/* General */

body{
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6
{
    font-weight: bold;
}
img
{
    max-width: 100%;
    height: auto;
}
section
{
    padding: 45px 0 80px 0;
}
section .heading
{
    text-align: center;
    padding-bottom: 40px;
}
.red-divider
{
    
    width: 100px;
    height: 2px;
    background: #006EA5 ;
    margin: 0 auto;
    
}
.white-divider
{
    
    width: 100px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
    
}
ul,ol
{
    list-style: none;
}

/* MENU */

.navbar
{
    background: #006EA6 ;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar .navbar-nav
{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse
{
    text-align: center;
}
.navbar li a
{
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a
{
    color: #006EA6  !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle
{
    border-style: none;
}
.icon-bar
{
    background-color: #fff !important;
}

/* About */

#about
{
    padding-top: 100px;
    background: #006EA6 ;
}
.profile-picture
{
    text-align: center;
    margin: 0 auto;
    float: none;
}
#about .heading h1
{
    padding-top: 20px;
    color:#fff ;
}
#about .heading h2
{
    padding-top: 20px;
    color:#000 ;
}
.buttonTelechargementCv
{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
    
}
.buttonTelechargementCv:hover
{
    background: white;
    color: #006EA6 ;
    text-decoration: none;
}

/*SKILLS*/
#skills
{
    background: #fff;
}
#skills .heading
{
    padding-top: 20px;
   
}
#skills .heading h2
{
    color: #006EA6 ;
    text-transform: uppercase;
}
#skills .progress
{
    
    margin: 30px 20px;
    backface-visibility: #ddd;
}
#skills .progress-bar
{
    background: #006EA6 ;
}
.row h3
{
    text-align: center;
    color: #006EA6 ;
    font-size: 20px;
}

/* EXPERIENCE */

#experience
{
    background: #006EA6 ;
}
#experience .heading h2
{
    color: white;
    text-transform: uppercase;
}
.timeline
{
    padding: 30px 10px;
    position: relative;
}
.timeline:before
{
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li
{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:after
{
    clear: both;
}
.timeline > li:before, .timeline > li::after
{
    content: " ";
    display: table;
}
.timeline li .timeline-badge
{
    color: #006EA6 ;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: white;
    border-radius: 50%;
}
.timeline-panel-container
{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted
{
    width: 50%;
    float: right;
}
.timeline-panel
{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: #fff;
}
.timeline-panel-container-inverted .timeline-panel
{
    float: left;
    margin-left: 40px;
}
.timeline-panel::after
{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after
{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3
{
    margin-top: 5px;
    font-size: 1.4rem;
    font-weight: 1000;
}
.timeline-heading h4
{
    font-size: 1.1rem;
}

/* EDUCATION */

#education
{
    background: white;
}

#education .heading h2
{
    color: #006EA6 ;
    text-transform: uppercase;
}
.education-block
{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background-color: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}
.education-block h5
{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block .glyphicon
{
    font-size: 40px;
}
.education-block h3 
{
    color: black;
   
}
.education-block h4 
{
    color: #888;
    font-size: 15px;
    margin-bottom: 20px;
}

/* FOOTER */

footer
{
    background: #333;
    padding: 20px 0 40px;
}
footer .glyphicon
{
    font-size: 25px;
    margin: 20px;
    color: #006EA6 ;
    height: 30px;
}
footer .glyphicon:hover
{
    font-size: 30px;
}
footer h5
{
    color: white;
    font-weight: normal;
}